[defaults]
collections_path = ./collections
callbacks_enabled = llx.lliurex.acipu

[callback_acipu]
url = https://rockyforeman.forelab.lan:6666
verify_certs = 0
#dir_store = /tmp/cbs
#client_cert = /etc/acipu/host.pem
#client_key = /etc/acipu/host.key


